.city-list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  flex-direction: center;
  justify-content: start;
  align-items: start;
  flex-direction: row;
  align-items: start; }
  .city-list.ui.cards {
    margin: 0;
    flex-wrap: nowrap;
    overflow: auto; }
