@mixin flex-container-center() {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  flex-direction: center;
}

@mixin flex-container-row() {
  @include flex-container-center();
  justify-content: start;
  align-items: start;
  flex-direction: row;
}